<div class="container">
  <h3>Add another Car</h3>
<form name="myForm" [formGroup]="myForm" (ngSubmit)="mySubmit(myForm.value)"  >
  <input name="brand" ng-model="brand" type="text" placeholder="Brand" [formControl]="myForm.controls.brand" required>

  <div *ngIf="brand.hasError('required')">Brand required</div>
  <div *ngIf="brand.hasError('minLength')">Name must have at least 3 letters</div>
  <div *ngIf="brand.hasError('wrongValue')">Vauxhall denied, it's Opel</div>
  <div *ngIf="brand.hasError('notBigValue')">First letter must be capital</div>
  <div *ngIf="brand.hasError('numberValue')">You cannot use numbers</div>

  <input type="text" placeholder="Year founded" [formControl]="myForm.controls['founded']" >
  <div *ngIf="founded.hasError('min')">Wrong foundation year</div>
  <div *ngIf="founded.hasError('notNumber')">You have to use only digits</div>

<button type="submit">OK</button>

</form>
</div>
<div class="container">
  <h3>Cars in collection</h3>
<ul class="cars">
  <li *ngFor="let car of cars"
    [class.selected]="car === selectedCar"
    (click)="onSelect(car)">
    <span class="badge">{{car.brand}}</span>
  </li>
</ul>

</div>
<div *ngIf="selectedCar">

  <h3>{{ selectedCar.brand }} Details</h3>
  <div>
    <label>Brand:
      <input [(ngModel)]="selectedCar.brand" placeholder="brand">
    </label>
    <label>Year founded:
      <input [(ngModel)]="selectedCar.founded" placeholder="Year founded">
    </label>
</div>

</div>
